<h1>Sign Up</h1>
<div class="well">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user form signing up:</h2>
      <ul>
        <% @user.errors.full_messages.each do %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>